<div class="admin-dashboard-nav">
    <button mat-raised-button routerLink="/admin/categories" class="nav-button">
        <mat-icon>category</mat-icon>
        <span>Manage Categories</span>
    </button>
    
    <button mat-raised-button routerLink="/admin/products" class="nav-button">
        <mat-icon>inventory</mat-icon>
        <span>Manage Products</span>
    </button>

    <button mat-raised-button routerLink="/admin/brands" class="nav-button">
        <mat-icon>branding_watermark</mat-icon>
        <span>Manage Brands</span>
    </button>
    
    <button mat-raised-button routerLink="/admin/orders" class="nav-button">
        <mat-icon>receipt</mat-icon>
        <span>Manage Orders</span>
    </button>
</div>